

.card__content{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    //width: 25vw;
    height: 25vh;
    border: 1px solid rgba(13, 121, 13, 0.728);
    
    
}

.card__img{
    width: 70%;
}

.card__title{
    margin-left: 15px;
}

