
.imgWrapper{
    min-width: 195px;
    min-height: 195px;
    width: 195px;
    height: 195px;
    outline: 2px solid black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 15px;
    animation: 1.5s ease 0s anima;
    
}

.img{
    height: 100%;
}





@keyframes anima {
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}